@import "tailwindcss";

body {
  background: #e8e8e8 !important;
  font-family:
    Roboto,
    Helvetica Neue,
    sans-serif;
}

.main-wrapper {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
